/*======================les variables de couleurs======================*/
:root{
    --color1:#B11313;
    --color2:#F1C530;
    --color3:#114C92;
    --color4:#000000;
    --color5:#FFFFFF;
}
/*=======Corps du page=========*/
.menu{
    font-size: xx-large;
}
.bonus{
    padding-top: 20%;
    background-size: cover;
    background-position: bottom;
    background-image: url(../Illustration/img35.png);
}
.bonus h1{
    font-size: 100px;
}
.bonus p{
    font-size: 75px;
}

@media screen and (max-width:768px){
    .bonus h1{
        font-size: 70px;
    }
    .bonus p{
        font-size: 20px;
    }
}