@font-face {
    font-family: 'Far Form Homecoming';
    src: url(../Far-From\ Homecoming\ Updated.otf);
}

/*======================les variables de couleurs======================*/
:root{
    --color1:#B11313;
    --color2:#F1C530;
    --color3:#114C92;
    --color4:#000000;
    --color5:#FFFFFF;
}
/*======Header==========*/
.menu{
    font-size: xx-large;
}
/*========Toile==========*/
.toile{
    transform: rotateY(180deg);
    background-position-x: left;
    background-repeat: no-repeat;
    background-color: var(--color2);
    background-image: url(../Illustration/img5.png);
}
.text{
    padding-top: 13%;
    padding-bottom: 14%;
    transform: rotateY(180deg);
}
.text h1{
    font-size: 4rem;
}
.text p{
    font-size: 2rem;
}
/*=======antenne==========*/
.antenne{
    padding: 100px 0;
    background-color: var(--color1);
}
input{
    color: var(--color5);
    background-color: var(--color1);
    border: 2px solid var(--color5);
}
textarea{
    width: 550px;
    border-radius: 10px;
    color: var(--color5);
    background-color: var(--color1);
    border: 2px solid var(--color5);
}
/*=======texte==========*/
.texte{
    background-color: var(--color3);
}
.element{
    width: 150px;
}
@media screen and (max-width:768px){
    .text{
        padding-top: 50%;
        padding-bottom: 15%;
    }
    .text h1{
        font-size: 2rem;
    }
    .text p{
        font-size: 1.5rem;
    }
    .bokotra{
        flex-wrap: wrap;
    }
    .element{
        width: 150px;
        margin-bottom: 10px;
    }
    .antenne, .texte{
        text-align: center;
    }
    textarea{
        width: 350px;
    }
}